* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.8rem;
}

body {
  font-family: 'Montserrat', sans-serif;
}


.container {
  max-width: 500px;
  margin: 30px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  margin: 10px;
}

#search-bar {
  border: 2px solid black;
  border-radius: 10px;
  position: relative;
  padding: 5px;
  width: 450px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
} 

.form-content {
  background-color: rgba(245, 245, 245, 0.868);
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #888;
  max-width: 400px; 
}

.form-field {
  margin-top: 10px;
}

.form-field label {
  display: block;
}

.form-field input, textarea {
  width: 100%;
  padding: 5px;
  border: #929191 2px solid;
  border-radius: 5px;
  margin-top: 5px;
}

.filters {
  display: flex;
}

#all-exercises {
  display: flex;
  flex-direction: column;
  background-color: rgb(248, 243, 235);
  padding: 20px 5px;
}


.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: grid;
  grid-template-areas:
    'movement splits'
    'image image'
    'category setof'
    'break break'
    'weight reps'
    'targets targets'
    'notes notes'
    'edit delete';
  grid-template-rows: 1fr 5fr 1fr 0.5fr;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  width: 390px;
}

#movement { 
  grid-area: movement;
  padding-left: 5px;
}

#splits {
  grid-area: splits;
  padding-right: 5px;
}

#image {
  grid-area: image;
  width: 100%;
  height: 100%;
} 

#category { 
  grid-area: category;
  padding-left: 5px;
  font-size: 0.75rem;
} 

#setof {
  grid-area: setof;
  text-align: right;
  padding-right: 5px;
  font-size: 0.75rem;
} 

.break {
  grid-area: break;
  display: flex;
  justify-content: center;
}

.line-break {
  height: 4px;
  width: 5rem;
  background: #3457D5;
  border-radius: 10px;
}
 

.weight {
  grid-area: weight;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  line-height: 0rem;
  margin-top: 10px;
  transition: box-shadow .3s;
}

.weight:hover {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.reps {
  grid-area: reps;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  line-height: 0rem;
  margin-top: 10px;
}

.fa-crosshairs {
  margin-right: 5px;
}

#targets {
  grid-area: targets;
  
}

#notes {
  transition: box-shadow .3s;
  grid-area: notes;
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
}

#notes:hover {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

#edit {
  grid-area: edit;
  padding-left: 10px;
}

#delete {
  grid-area: delete;
  text-align: right;
  padding-right: 10px;
}

small {
  display: none;
}

small.show {
  display: block;
  color: red;
}