* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.8rem;
}

body {
  font-family: 'Montserrat', sans-serif;
}


.container {
  max-width: 500px;
  margin: 30px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  margin: 10px;
}

#search-bar {
  border: 2px solid black;
  border-radius: 10px;
  position: relative;
  padding: 5px;
  width: 450px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
} 

.form-content {
  background-color: rgba(245, 245, 245, 0.868);
  margin: 30px auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  max-width: 400px; /* Could be more or less, depending on screen size */
  /* color: #333; */

}

.form-field {
  margin-top: 15px;
}

.form-field label {
  display: block;
}

.form-field input, textarea {
  width: 100%;
  padding: 5px;
  border: #929191 2px solid;
  border-radius: 5px;
  margin-top: 5px;
}

.filters {
  display: flex;
}

.all-exercises {
  display: flex;
  flex-direction: column;
  background-color: rgb(248, 243, 235);
  padding: 20px 5px;
}


.all-exercises .card {
  background-color: white;
  border-bottom: 1px solid #cfcece
}

.exercise, .titles {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.exercise ul {
  margin-bottom: 0px;
}

.exercise li {
  margin-right: 10px;
}

li:last-child {
  margin-left: 15px;
}

