* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5rem;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.25)
  ),
  url('/assets/images/danielle-cerullo-CQfNt66ttZM-unsplash.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 { 
  font-size: 50px;
  color: white;
  margin: 30px auto;
}

section {
  margin: 10px;
}

/* All buttons */
.button-15 {
  background-image: linear-gradient(#14279B, #3D56B2);
  border: 1px solid #5C7AEA;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  direction: ltr;
  display: block;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -.022em;
  line-height: 1.47059;
  min-width: 30px;
  overflow: visible;
  padding: 4px 15px;
  text-align: center;
  user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-15:hover {
  background-image: linear-gradient(#E6E6E6, #5C7AEA);
  border-color: #1482D0;
  text-decoration: none;
}

.container {
  margin: 30px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


#search-bar {
  border: 2px solid black;
  border-radius: 10px;
  position: relative;
  padding: 5px;
  width: 500px;
}


/* Form */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
} 

.form-content {
  background-color: #3D56B2;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #14279B;
  max-width: 400px; 
}

.form-field {
  margin-top: 10px;
}

.form-field label {
  display: block;
  color: white;
}

.form-field input, textarea {
  width: 100%;
  padding: 5px;
  border: black 1px solid;
  border-radius: 5px;
  margin-top: 5px;
  text-align: left;
  margin-bottom: 8px;
}

.float-plus {
  position: relative;
}

.float {
  position: absolute;
  right: 10px;
  top: 40px;
  background-color: #14279B;
  color: white;
  cursor: pointer;
}

li {
  display: inline;
  background-color: #1482D0;
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin-right: 5px;
}

.form-btns {
  display: flex;
  justify-content: space-between;
}

/* Cards */
#all-exercises {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card-container {
  display: flex;
  align-items: center;
  max-width: 300px;
  max-height: 300px;
  margin: 10px;
}

.card {
  background-color: white;
  display: grid;
  grid-template-areas:
  'card-movement card-splits'
  'card-image card-image'
  'card-weight card-reps'
  'card-targets card-targets'
  'card-notes card-notes'
  'edit delete';
  grid-template-columns: 1fr 1fr;
}

#card-movement { 
  grid-area: card-movement;
  padding-left: 5px;
}

#card-splits {
  grid-area: card-splits;
  padding-right: 5px;
  text-align: right;
}

#card-image {
  grid-area: card-image;
  width: 100%;
  height: 100%;
  border: none;
} 

#card-weight {
  grid-area: card-weight;
}

#card-reps {
  grid-area: card-reps;
}

#card-weight, #card-reps {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin-top: 5px;
}

.fa-crosshairs {
  margin-right: 10px;
}

#card-targets {
  grid-area: card-targets;
  margin: 10px 0px 0px 10px ;
}

#card-notes {
  grid-area: card-notes;
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
}

#edit {
  grid-area: edit;
  padding-left: 10px;
}

#delete {
  grid-area: delete;
  text-align: right;
  padding-right: 10px;
}

small {
  display: none;
}

small.show {
  display: block;
  color: red;
}

@media(max-width: 500px) {
  #search-bar {
    width: 85vw;
  }

  h1 {
    font-size: 20px;
  }
}